<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppleSolutions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AppleSolutionsWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AppleSolutionsWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83C3719F1BF046B300AED114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83C371B81BF046B400AED114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83C371C31BF046B400AED114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFA91DAC1D00653A002B3844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
