<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AppleSolutions</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.applesolutions.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleSolutions</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>AppleSolutions</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>AppleSolutions</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.2.9</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>telprompt</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>AppleSolutions wants to use your location service.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>shortcut-shop</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Shop</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.applesolutions.app.shortcut.shop</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>_CUSTOMDATA</key>
				<string>None</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>shortcut-accessories</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Accessories</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.applesolutions.app.shortcut.accessories</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>_CUSTOMDATA</key>
				<string>None</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>shortcut-store</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Store</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.applesolutions.app.shortcut.store</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>_CUSTOMDATA</key>
				<string>None</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>shortcut-order</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Order</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.applesolutions.app.shortcut.order</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>_CUSTOMDATA</key>
				<string>None</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
